<!doctype html>
<html>
<head>
    <title>TEG FITNESS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>TEG</h1>
        <!-- <img src="img/savage21.jpg" alt="21 Savage Profile Photo"> -->

        <p>Train Eat Grind</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>TEG user</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
